{{#bs-button-group
  value=isDisabled
  type="radio"
  onChange=(action 'toggleSlider')
as |bg|}}
  {{#bg.button value=true}}{{t "dates.filter.all"}}{{/bg.button}}
  {{#bg.button value=false}}{{t "dates.filter.range"}}{{/bg.button}}
{{/bs-button-group}}
{{range-slider
  start=dateStart
  range=dateRange
  connect=true
  step=1
  class='date-slider'
  disabled=isDisabled
  on-update=(action "updateDate")
  on-change=(action "executeSearch")
}}
{{#if isDisabled}}
  <p>{{t "dates.display.all"}}</p>
{{else}}
  {{!-- setting class to active here so that search-facets will update the filter badge on mobile layouts --}}
  <p class="active">{{t "dates.display.range" startDate=selectedDates.[0] endDate=selectedDates.[1]}}</p>
{{/if}}
