
{{!--HOW TO USE
This is part of the search-facets template for displaying a link for adding or removing an individual facet.
Syntax:
{{facet-link facet title results param onChange=(action onChange)}}
facet: the variable for facet type (eg 'subject')
title: the variable for the specific facet value (eg 'Coal Miners')
results: the variable for the number of results for title
param: the variable for the queryParam that allows "and" facet filtering
onChange=(action onChange): bubbles actions performed by this component up without touching them.
--}}
{{#if facetInUse}}
  <strong>{{title}}</strong> <a href {{action "toggleFacet"}}>(remove)</a>
{{else}}
  <a href {{action "toggleFacet"}}>{{title}}</a>: {{format-number results format="0,0"}}
{{/if}}
