<div class="result-text">
  <h3><a href={{item.source_url}}>{{item.title}}</a></h3>
  <p>{{item.description}}</p>
</div>
<a class="result-thumbnail" href={{item.source_url}}>
    {{display-image src=item.thumbnail_url}}
</a>
