{{!--HOW TO USE
Add this to your template to display pagination information and links on your page, such as:
Syntax: {{search-pagination meta=model.meta}}
--}}

{{! previous page button}}
<li class={{if (eq meta.page 1) "disabled"}}>
  {{#link-to (query-params page=(sub meta.page 1)) disabled=(eq meta.page 1)}}
    <span class="aria-hidden">&lt;&lt;</span>
    <span class="sr-only">{{t "searchResults.pagination.previous"}}</span>
  {{/link-to}}
</li>
{{! first page}}
<li class={{if (eq meta.page 1) "active"}}>
{{#link-to (query-params page=1)}}
  1
{{/link-to}}
</li>
{{! ellipses}}
{{#if displayStartEllipse}}
  <li class="disabled"><a>...</a></li>
{{/if}}
{{! all the middle pages}}
{{#each paginationLinks as |link|}}
  <li class={{if link.isActive "active"}}>
    {{#link-to (query-params page=link.page)}}
      {{format-number link.page format="0,0"}}
    {{/link-to}}
  </li>
{{/each}}
{{! next page button}}
<li class={{if (eq meta.page lastPage) "disabled"}}>
  {{#link-to (query-params page=(add meta.page 1)) disabled=(eq meta.page lastPage)}}
    <span class="aria-hidden">&gt;&gt;</span>
    <span class="sr-only">{{t "searchResults.pagination.next"}}</span>
  {{/link-to}}
</li>

