{{#search-result-stats meta=model.meta onChange=(action "updateParams") as |stat|}}
  {{#if (lte stat.results 100)}}
    {{t "searchResults.stats.displayingResults" results=stat.formattedResults}}
  {{else}}
    {{t "searchResults.stats.displayingPartialResults" perPage=stat.perPage totalResults=stat.formattedResults}}
    {{t "searchResults.stats.narrowMapResultsMessage"}}
  {{/if}}
{{/search-result-stats}}
<div class="overlay-container">
  <div class="overlay-content">
    {{#if search.isLoading}}
      <span class="label label-default">{{t "site.loading"}}</span>
    {{else}}
      {{#unless isHidden}}
        <button class="btn btn-primary" {{action "updateParams" boundingBox}}>{{t "searchResults.map.searchArea"}}</button>
      {{/unless}}
    {{/if}}
  </div>
</div>
{{#leaflet-map
  tagName="main"
  lat=lat lng=lng
  zoom=zoom minZoom=minZoom maxZoom=maxZoom
  worldCopyJump = true
  onMoveend=(action "updateCenter")
  onLoad=(action "updateParams" boundingBox)
as |layers|}}
  {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{#marker-cluster-layer}}
    {{#each model as |item|}}
      {{#if item.locations}}
        {{#marker-layer location=(map-pin item.locations search.geo_bbox)}}
          {{#popup-layer}}
            {{search-result item=item}}
          {{/popup-layer}}
        {{/marker-layer}}
      {{/if}}
    {{/each}}
  {{/marker-cluster-layer}}

{{/leaflet-map}}




