{{#search-result-stats meta=model.meta onChange=(action "updateParams") as |stat|}}
  {{#if (lte stat.results 100)}}
    Displaying {{stat.formattedResults}} results.
  {{else}}
    Displaying {{stat.perPage}} of {{stat.formattedResults}} results. Zoom in or narrow your search results, then click "Search this area" to view additional results.
  {{/if}}
{{/search-result-stats}}
<div class="overlay-container">
    <div class="overlay-content {{if isHidden "hidden"}}">
        <button class="btn btn-primary" {{action "updateParams" boundingBox}}>Search this area</button>
    </div>
</div>
{{#leaflet-map
  tagName="main"
  lat=lat lng=lng
  zoom=zoom minZoom=minZoom maxZoom=maxZoom
  worldCopyJump = true
  onLoad=(action "updateParams" boundingBox)
  onMoveend=(action "updateCenter")
as |layers|}}
  {{layers.tile url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{#marker-cluster-layer}}
    {{#each model as |item|}}
      {{#marker-layer lat=item.lat lng=item.lng}}
        {{#popup-layer}}
          {{search-result item=item}}
        {{/popup-layer}}
      {{/marker-layer}}
    {{/each}}
  {{/marker-cluster-layer}}

{{/leaflet-map}}




