{{#unless fastboot.isFastBoot}}
  {{#ember-wormhole to="search-bar"}}
    <button class="btn btn-default" {{action 'back'}}>&lt;&lt; {{t "searchResults.result.back"}}</button>
  {{/ember-wormhole}}
  {{#ember-wormhole to="left-sidebar"}}
    <img class="result-thumbnail" src={{model.thumbnail_url}}>
    <h3>{{t "searchResults.result.share"}}</h3>
    {{share-panel title="" buttons="fb,twitter,linkedin,instagram"}}
  {{/ember-wormhole}}
{{/unless}}

<main>
  <h2>{{model.title}}</h2>
  <p>
    {{{t "searchResults.result.originalSource" url=model.source_url}}}
    {{#set-facet facet='display_content_partner' value=model.display_content_partner route='search'}}
      {{model.display_content_partner}}
    {{/set-facet}}
  </p>
  <dl>
    {{#each recordFields as |field|}}
      <dt>{{t (concat 'field.title.' field.value)}}</dt>
      <dd>
        {{#if field.links}}
          {{csv-links field.value (get model field.value) route="search" empty=(t "searchResults.result.unknown")}}
        {{else}}
          {{csv-list (get model field.value) empty=(t "searchResults.result.unknown")}}
        {{/if}}
      </dd>
    {{/each}}
  </dl>
</main>