{{#ember-wormhole to="search-bar"}}
  <button class="btn btn-default" {{action 'back'}}>&lt;&lt; Back to Search Results</button>
{{/ember-wormhole}}
{{#ember-wormhole to="left-sidebar"}}
  <img class="result-thumbnail" src={{model.thumbnail_url}}>
{{/ember-wormhole}}

<main>
  <h2><a href={{model.source_url}}>{{model.title}}</a></h2>
  <dl>
    <dt>Creator</dt><dd>{{model.creator}}</dd>
    <dt>Publisher</dt><dd>{{model.publisher}}</dd>
    <dt>Description</dt><dd>{{model.description}}</dd>
    <dt>Contributed By</dt><dd>{{model.display_content_partner}}</dd>
    <dt>Date</dt><dd>{{model.display_date}}</dd>
    <dt>Category</dt><dd>{{model.category}}</dd>
    <dt>Subject</dt><dd>{{model.subject}}</dd>
    <dt>Language</dt><dd>{{model.language}}</dd>
    <dt>Rights</dt><dd>{{model.rights}}</dd>
  </dl>
</main>



