<label for="input-text">Text</label>{{input id="input-text" value=text}} <br />
{{search-pagination meta=model.meta}}
{{#each model as |item|}}
  <strong><a href={{item.source_url}}>{{item.title}}</a></strong> {{item.description}} <br />
{{/each}}